h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  flex-direction: column;
}
input,
button {
  margin: 1% 5%;
}
